{% extends 'padre.html' %}

{% block contenidoQueCambia %}

<div>
    <h1 class="text-center">Resultados de la Búsqueda</h1>
    {% if empanadas %}
    <ul class="list-group">
        {% for empanada in empanadas %}
        <li class="list-group-item">
            <h5>{{ empanada.product_name }}:</h5>   
            <h6>Ingredientes:</h6>
            <p>{{ empanada.ingredients }}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p >No se encontraron los ingredientes de la empanada solicitada. Revise que el nombre de la empanada solicitada coincida con el menú.</p>
    {% endif %}
</div>

 


{% endblock contenidoQueCambia %}
  
