{% extends 'padre.html' %}

{% block contenidoQueCambia %}

{% load static %}
<section id="menu" class="py-5">
    <div class="container">
      <h2 class="text-center mb-4">Nuestro Menú</h2>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{% static 'images/plato1.jpeg' %}" class="card-img-top" alt="Plato 1">
            <div class="card-body">
              <h5 class="card-title">Pizza de mozzarella</h5>
              <p class="card-text">Una deliciosa pizza con queso mozzarella, salsa de tomate y aceitunas.</p>
              <a href="#" class="btn btn-primary">Ordenar</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{% static 'images/plato2.jpeg' %}" class="card-img-top" alt="Plato 2">
            <div class="card-body">
              <h5 class="card-title">Pizza Napolitana</h5>
              <p class="card-text">Una deliciosa pizza con queso mozzarella, salsa de tomate, rodajas de tomate y albahaca!</p>
              <a href="#" class="btn btn-primary">Ordenar</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{% static 'images/plato3.jpeg' %}" class="card-img-top" alt="Plato 3">
            <div class="card-body">
              <h5 class="card-title">Pizza jamon y morrones</h5>
              <p class="card-text">Una deliciosa pizza con queso mozzarella, salsa de tomate, jamon y morrones!</p>
              <a href="#" class="btn btn-primary">Ordenar</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{% static 'images/plato4.jpeg' %}" class="card-img-top" alt="Plato 4">
            <div class="card-body">
              <h5 class="card-title">Pizza Fugazzeta</h5>
              <p class="card-text">Una deliciosa pizza con queso mozzarella, cebolla en julianas y daditos de provolone.</p>
              <a href="#" class="btn btn-primary">Ordenar</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{% static 'images/plato5.jpeg' %}" class="card-img-top" alt="Plato 5">
            <div class="card-body">
              <h5 class="card-title">Pizza Jamon</h5>
              <p class="card-text">Una deliciosa pizza con queso mozzarella, salsa de tomate y jamon.</p>
              <a href="#" class="btn btn-primary">Ordenar</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{% static 'images/plato6.jpeg' %}" class="card-img-top" alt="Plato 6">
            <div class="card-body">
              <h5 class="card-title">Pizza Super Margarita</h5>
              <p class="card-text">Pizza con queso mozzarella, salsa de tomate, jamon, anana, morron, palmitos y salsa golf!</p>
              <a href="#" class="btn btn-primary">Ordenar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>   

    
{% endblock contenidoQueCambia %}

    