{% extends "padre.html" %}


{% block contenidoQueCambia %}
{% load static %}
<p> {{message}} </p>
<section id="menu" class="py-5">
  <div class="container">
    <h2 class="text-center mb-4">Nuestro Menú</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{% static 'images/pizza_napo.jpeg' %}" class="card-img-top" alt="Plato 1">
          <div class="card-body">
            <h5 class="card-title">Pizzas</h5>
            <a href="/app-tossi/pizzas" class="btn btn-primary">Ver</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{% static 'images/empanada_capresse.jpeg' %}" class="card-img-top" alt="Plato 2">
          <div class="card-body">
            <h5 class="card-title">Empanadas</h5>
            <a href="/app-tossi/empanadas/" class="btn btn-primary">Ver</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{% static 'images/cheese_frutos_rojos_inicio.jpg' %}" class="card-img-top" alt="Plato 3">
          <div class="card-body">
            <h5 class="card-title">Postres</h5>
            <a href="/app-tossi/postres" class="btn btn-primary">Ver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock contenidoQueCambia %}
  
