{% extends 'padre.html' %}

{% block contenidoQueCambia %}

<h1>Lista del menú de pizzas</h1>
  <ul>
    {% for pizza in pizzas %}
      
      <li>
        {{pizza.product_name}} - ${{pizza.price}}
      </li>
        
    {% endfor %}

  </ul>

{% load static %}
<section id="menu" class="py-5">
    <div class="container">
      <h2 class="text-center mb-4">Alguna de nuestras delicias.</h2>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{% static 'images/pizza_muzzarella.jpeg' %}" class="card-img-top" alt="Plato 1">
            <div class="card-body">
              <h5 class="card-title">Pizza de mozzarella</h5>
              <p class="card-text">Una deliciosa pizza con queso mozzarella, salsa de tomate y aceitunas.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{% static 'images/pizza_champiñon.jpeg' %}" class="card-img-top" alt="Plato 2">
            <div class="card-body">
              <h5 class="card-title">Pizza Champiñones</h5>
              <p class="card-text">Una deliciosa pizza con queso mozzarella, salsa de tomate y champiñon con cebolla caramelizada!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{% static 'images/pizza_jamon_y_morrones.jpeg' %}" class="card-img-top" alt="Plato 3">
            <div class="card-body">
              <h5 class="card-title">Pizza jamon y morrones</h5>
              <p class="card-text">Una deliciosa pizza con queso mozzarella, salsa de tomate, jamon y morrones!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>   

    
{% endblock contenidoQueCambia %}

    