{% extends 'padre.html' %}

{% block contenidoQueCambia %}
<h1>Lista del menú de postres</h1>
  <ul>
    {% for postre in postres %}
      
      <li>
        {{postre.product_name}} - ${{postre.price}}
      </li>
        
    {% endfor %}

  </ul>
  <a class="nav-link" href="{% url 'CrearPostre' %}">Agregar nuevo postre</a>
  <a class="nav-link" href="{% url 'BuscadorPostre' %}">Consultar ingredientes</a>
  
  {% load static %}
  <section id="menu" class="py-5">
      <div class="container">
        <h2 class="text-center mb-4">Alguna de nuestras delicias.</h2>
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="{% static 'images/cheese_frutos_rojos.jpeg' %}" class="card-img-top" alt="Plato 1">
              <div class="card-body">
                <h5 class="card-title">Postre de Cheese Cake</h5>
                <p class="card-text">Un delicioso postre con galletitas de vainilla, queso crema, frutos rojos y frambuesas!</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="{% static 'images/falsa_choco.jpeg' %}" class="card-img-top" alt="Plato 2">
              <div class="card-body">
                <h5 class="card-title">Postre Chocotorta</h5>
                <p class="card-text">Un delicioso postre a base de galletitas de chocolate, dulce de leche y queso crema!</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="{% static 'images/lemon_pie.jpeg' %}" class="card-img-top" alt="Plato 3">
              <div class="card-body">
                <h5 class="card-title">Postre de Lemon Pie</h5>
                <p class="card-text">Un delicioso postre hecho con galletitas de vainilla, jugo de limon, crema con ralladura de limon!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>   
  
      
  {% endblock contenidoQueCambia %}
  
      